@import "tailwindcss";

html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  @apply text-gray-900;
  background-image: url('/images/trailer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
